{
  "presets": ["react", ["env", { "modules": false }]],
  "env": {
    "test": {
      "presets": ["react", ["env", { "modules": "commonjs" }]],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
